<header>
  <h1>
    Jenn &amp; Anand
    <br/>
    <img src="images/icon_15994.svg">
  </h1>
  <nav sticky-nav>
    <ul>
      <li class="exit exit-only"><a href="#top" title="Back to top">Top of Page</a>
      </li>
      <li><a href="#how-we-met" title="How We Met">How We Met</a>
      </li>
      <li><a href="#onward" title="Onward">Onward</a>
      </li>
      <li class="exit"><a href="#receptions" title="RSVP">RSVP</a>
      </li>
      <li><a href="#registry" title="Registry">Registry</a>
      </li>
    </ul>
  </nav>
  <ul class="photo-strip">
    <li>
      <img src="images/chair-strip-3.png" alt="Photo of Jenn and Anand">
    </li>
    <li>
      <img src="images/chair-strip-2.png" alt="Photo of Jenn and Anand">
    </li>
    <li>
      <img src="images/chair-strip-1.png" alt="Photo of Jenn and Anand">
    </li>
  </ul>




  <!--        <img src="images/chair2.png" alt="Photo of Jenn and Anand" class="photo">
 -->
</header>

<section id="how-we-met" class="narrative">
  <h2>How We Met</h2>
  <div>
    <p>Jenn and Anand met in graduate school in 2006. At that point, becoming romantically involved was
      nowhere on our emotional radar. But, throughout our year in Cambridge, we caffeinated together
      early and often, watched movies when we should have been studying, pulled compensatory all-nighters,
      became enamored of the same professors, ate eggs at strange hours, debated trivial matters passionately,
      and browsed bookstores (as all annoying grad students do). Anand convinced Jenn to abandon previous
      plans so she could attend “Ugly Sweater Night” at a pub near his apartment. Jenn wrote one of Anand’s
      letters of recommendation for his first teaching job. Anand habitually stood in the frigid New
      England twilight, advising Jenn on seemingly pressing love conundrums. Jenn scolded Anand about
      the love conundrums that he didn’t even know he had.</p>
    <p>In the years after grad school, we kept in touch, proffering late-night advice on dating and teaching,
      and taking weekend trips to Montreal, Washington, D.C., and San Diego. During that time, Anand
      worked at <a href="http://www.parkschool.net" title="Park School of Baltimore">The Park School of Baltimore</a>,
      where students are encouraged to call teachers by their first names and to speak their free minds
      to any passing stranger, while Jenn taught at a boarding school near Boston, providing grammatical
      instruction to well-coiffed young aspirers to the ruling class. Three years ago, in a fit of fury
      over something too boring to elucidate, Jenn left Milton Academy to work at Anand’s more progressive
      school, where we both currently teach. We’ve been roommates since June 2011, involved in top-secret
      “workplace fraternization” since December 2012, and engaged since December 2013.</p>
    <p>Although we’ve been arguing with each other for over seven years, we still enjoy bickering over the
      best way to load the dishwasher, the ethics of the organic movement, how much cheese (both actual
      and aesthetic) one can reasonably consume without intervention, and whether certain movie characters
      should be abhorred for their shallowness or tolerated for their realism. Ever since we met, we’ve
      been accused of behaving like “an old married couple,” and we are excited to start fully inhabiting
      that old cliché, in all of its unpredictable vexations and delights.</p>
  </div>
</section>

<section id="onward" class="narrative">
  <h2>Onward</h2>
  <div>
    <p>
      Before embarking upon new career paths, putting down new roots, and settling into new routines, we will
      be traveling for four to six months. Anand will be doing some freelance work, Jenn will be doing
      some shameless mooching, and we’ll both be glimpsing things beyond the industrial skyline of Baltimore:
      the insides of foreign supermarkets, the embarrassingly superior public transit systems of European
      cities, the confounded expressions strangers wear when we butcher their native language, and –
      most importantly – how the <a href="http://books.google.com/books?id=I6p9-DCYdsgC&lpg=PT604&ots=jXb-iARSoK&dq=Those%20same%20stars%20twinkle%20over%20other%20fields%20than%20these.&pg=PT604#v=onepage&q=Those%20same%20stars%20twinkle%20over%20other%20fields%20than%20these.&f=false">same stars twinkle over other fields than
                    these</a>. Although not all trip details have been solidified, possible destinations
      include France, Spain, Kenya, India, Thailand, New Zealand, and Hawaii. In addition to seeing the
      usual sights and visiting every church known to humankind, we also hope to engross ourselves in
      books and music. Please let us know who your favorite artists and authors are, whether they’re
      little-known gems or guilty pleasures.
    </p>
  </div>
</section>

<section id="receptions">

  <section id="nj-reception" ng-controller="RsvpCtrl">
    <h2>Eng Family Reception
      <span class="subhead">(New Jersey)</span>
    </h2>
    <time datetime="2014-06-15T12:00-04:00">12:00 PM Sunday, June 15, 2014</time>
    <div>
      Forsgate Country Club
    </div>
    <div itemscope itemtype="schema.org/PostalAddress">
      <span itemprop="streetAddress">375 Forsgate Drive</span>
      <br/>
      <span itemprop="addressLocality">Monroe Township, NJ</span>
      <span itemprop="postalCode">08831</span>
    </div>
    <a class="button" href="https://www.google.com/maps/place/375+Forsgate+Dr/@40.3421939,-74.4599462,17z/data=!3m1!4b1!4m2!3m1!1s0x89c3dba912c50311:0xb233360061914f84"
    title="Map">Map &#8594;</a>

    <div ng-show="showRsvp.nj">
      <button class="rsvp-button" ng-click="responding = true" ng-hide="responding">RSVP to New Jersey Reception</button>

      <form class="rsvp" name="njForm" ng-show="responding" firebase-form firebase-form-data="rsvp" firebase-url="https://athreadofsomething.firebaseio.com/rsvp/nj"
      waiting-msg="Sending your response..." success-msg="Thanks--we've received your RSVP!" error-msg="Uh oh! Something went wrong.  Please either try again or contact Maggie and Ping Eng.">

        <h3>
          RSVP to New Jersey Reception
        </h3>
        <div class="form-question">
          <label>Name(s)
            <input name="names" type="text" ng-model="rsvp.name" required autofocus>
          </label>
        </div>

        <div class="form-question">
          <label>
            <input name="attending.true" type="radio" ng-model="rsvp.attending" ng-value="true">Will Attend
          </label>
          <label>
            <input name="attending.false" type="radio" ng-model="rsvp.attending" ng-value="false">Will Not Attend
          </label>
        </div>

        <div class="form-question">
          <label for="number">Number of Guests
            <input name="number" type="text" ng-model="rsvp.number">
          </label>
        </div>
        <button ng-disabled="njForm.$invalid" ng-click="save()">Send RSVP Now&#8594;</button>
      </form>
    </div>
  </section>

  <section id="nc-reception" ng-controller="RsvpCtrl">
    <h2>Thakker Family Reception
      <span class="subhead">(North Carolina)</span>
    </h2>
    <time datetime="2014-07-20">The evening of Sunday, July 20, 2014</time>
    <div>
      The Faerrington House
    </div>
    <div itemscope itemtype="schema.org/PostalAddress">
      <span itemprop="streetAddress">2000 Fearrington Village Center</span>
      <br/>
      <span itemprop="addressLocality">Pittsboro, NC</span>
      <span itemprop="postalCode">27312</span>
    </div>
    <a class="button" href="https://www.google.com/maps/place/2000+Fearrington+Village+Center/@35.800907,-79.079634,17z/data=!3m1!4b1!4m2!3m1!1s0x89acc0e445e84921:0xb0b6c1901c7203db"
    title="Map">Map &#8594;</a>

    <div ng-show="showRsvp.nc">
      <button class="rsvp-button" ng-click="responding = true" ng-hide="responding">RSVP to North Carolina Reception</button>

      <form class="rsvp" ng-show="responding" firebase-form firebase-form-data="rsvp" firebase-url="https://athreadofsomething.firebaseio.com/rsvp/nc"
      waiting-msg="Sending your response..." success-msg="Thanks--we've received your RSVP!" error-msg="Uh oh! Something went wrong.  Please either try again or contact Maggie and Ping Eng.">

        <h3>
          RSVP to North Carolina Reception
        </h3>
        <div class="form-question">
          <label>Name(s)
            <input name="names" type="text" ng-model="rsvp.name">
          </label>
        </div>

        <div class="form-question">
          <label>
            <input name="attending.true" type="radio" ng-model="rsvp.attending" ng-value="true">Will Attend
          </label>
          <label>
            <input name="attending.false" type="radio" ng-model="rsvp.attending" ng-value="false">Will Not Attend
          </label>
        </div>

        <div class="form-question">
          <label for="number">Number of Guests
            <input name="number" type="text" ng-model="rsvp.number">
          </label>
        </div>
        <button ng-click="save()">Send RSVP Now&#8594;</button>
      </form>
    </div>
  </section>


</section>


<section id="registry" class="narrative">
  <h2>Registry</h2>
  <div>
    <p>
      It’s become a threadbare platitude to say that your presence at our receptions will be better than any
      present you can give. But, really. We mean it! Feel free to make us a mix tape, divulge your famous
      chili recipe, enfold us in a full-body hug, or tip us off about which restaurants we should duck
      into while in Paris. Truly, we are not covetous of more “stuff” in our lives, especially since
      we’ll be packing all of our worldly possessions into storage for about a year.</p>
    <p>We plan to make our travels somewhat economical by subletting apartments rather than staying in hotels
      and eating in rather than dining out. That being said, we are planning a few indulgences along
      the way. We’re told that it would be crazy to go to Kenya without touring a wildlife park, and
      we can’t imagine leaving the European continent without trekking to Florence to visit the statue
      of David. If you’d like to contribute to our honeymoon adventures, please use the button below.
    </p>

    <div class="cta">
      <a class="button" href="http://www.wanderable.com/hm/JennAndAnand" title="Our Honeymoon Registry">
          Our Honeymoon Registry &#8594;
          </a>
    </div>
    <p>We’ll think of you as we’re admiring zebras, petting sheep, eating buttery croissants at every available
      opportunity, <a href="https://www.youtube.com/watch?v=DcziMI0tol4#t=0m10s">frolicking in the Shire</a>,
      and wandering the streets of Salzburg, where Julie Andrews <a href="https://www.youtube.com/watch?v=7_PJPDMXHOw#t=2m33s">yodeled</a> and
      <a href="https://www.youtube.com/watch?v=xIjobdArtiA#t=3m57s" title="">line-danced</a> her way into
      the heart of a handsome sea captain. We’d love to feel as though you are part of our travels.
    </p>
  </div>
</section>

<footer>
  Made with HTML5Boilerplate, Compass, jQuery, AngularJS, and &hearts;.
  <br/>Whale icon by Claudio Gomboli from The Noun Project
</footer>