// This file must be imported before loading html5-boilerplate

// base
$line-height: 1.5 !default;
$font-color: #222 !default;

$link-color: #008 !default;
$link-hover-color: #00D !default;
$link-visited-color: #000 !default;

$selected-font-color: #fff !default;
$selected-background-color: #ff5e99 !default;

$invalid-background-color: #f0dddd !default;

$background-color: #fdfdff !default;

$inverse-background-color: #000 !default;
$inverse-font-color: #eee !default;
$inverse-font-hover-color: #eee !default;


$font-family: Georgia, serif;
$display-font-family: 'Playfair Display', sans-serif;