// ==|== media queries ======================================================
// PLACEHOLDER Media Queries for Responsive Design.
// These override the primary ('mobile first') styles
// Modify as content requires.
// ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

  // go from full bleed mode (mobile) to aligned composition (tablet & above)
  #container>header {
    margin: 0 0;
  }
}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/**
*  Column logic.
*/
@media only screen and (min-width: 40rem) {
  .rsvp,.rsvp-button {
    width: 50%;
  }
  #container {
    max-width: 60rem;
  }

  .narrative {

    p:first-child {
      margin-top: 0;
    }
    
    &>div {
      @include column-count(2); 
    }
  }
}




// ==|== print styles =======================================================
// Print styles.
// Inlined to avoid required HTTP connection: h5bp.com/r
// ========================================================================== */

@media print {
  @include h5bp-media-print;
  
  /* Style adjustments for print go here */
}