@import "compass/css3";
@import "compass/typography/lists";
@import "compass/typography/links";

// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html {
  font-size: 20px;
}

body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  font-family: $font-family;
}

body, input, textarea {
  background-color: $background-color;
}

p {
  margin: ($line-height * 1rem) 0;
}

button,h1,h2,h3,h4,h5,h6 {
  font-family: $display-font-family;
}

h1 {
  margin-top: 0px;
  padding-top: 1em;
  text-align: center;
  font-size: 2.5em;
  @include text-shadow(0px 1px 2px #fff, 0px -1px 2px darken($background-color, 5%));
}

h2 {
  line-height: 1;
  margin: ($line-height*2rem) 0 ($line-height*1rem) 0;
}


a {
  @include link-colors($link-color, $link-hover-color);
}

button {
  background: none;
  border: 1px solid;
}


/**
* Buttons
*/

button, .button {
  font-family: $display-font-family;
  padding: .5em 1em;
  border: 1px solid black;
  @include border-radius(2px);
  &:hover, &.selected {
    background-color: $inverse-background-color;
    color: $inverse-font-color;
  }
}

button[disabled="disabled"] {
  border-color: #ddd;
  background-color: $background-color;
  color: #ddd;
}


a.button, .button a {
  @include link-colors($font-color, $inverse-font-color);
  text-decoration: none;
}

.selected a {
  text-decoration: underline;
  @include link-colors($inverse-font-color, $inverse-font-hover-color);
}




/**
* Photos
*/

.photo {
  max-width: 100%;
  width: 100%;
  display: block;
  margin-bottom: 1em;
}

.photo-strip {

  @include no-bullets;
  margin: 0px;
  padding: 0px;


  li {
    @include box-sizing(content-box);
    float: left;
    width: 33%;
    padding-left: .5%;
    &:first-child {
      padding-left: 0;
    }
  }

  img {
    width: 100%;
  }

  @include clearfix;
}



/**
* Forms
*/
textarea {
  width: 100%;
}

.message {
  padding: .5em;
  margin: 1em 0;
}

.success {
  border: 1px solid $link-hover-color;
  background-color: rgba($link-hover-color, .05);
  @include border-radius(2px);
}

.error {
  background-color: #fdd;
  border-color: #f00;
  border-width: 1px 0;
  border-style: solid none;
}

.form-question {
  margin-bottom: 1em;
}

input[type="text"] {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
}

input[type="number"] {
  width: 15%;
  border: none;
  border-bottom: 1px solid black;
}


input.ng-invalid.ng-dirty {
  @extend .error;
}


/**
* RSVP Forms
*/

#receptions {
  @include pie-clearfix;
  .button {
    display: inline-block;
    padding: .25em .5em;
  }
  .subhead {
    display: inline;
  }
}

%rsvpcard {
  padding: 1rem .5rem;

  @include box-shadow(#aaa 1px 1px 1px 1px);

  @media (min-width: 30em) {
    width: 75%;
  }

  margin: 1em auto;
  @media (min-width: 75em) {
    margin: 1em 0;
  }
}

.rsvp-button {
  @extend %rsvpcard;
  display: block;

  border: 0px;

  @include transform(perspective( 600px ));

  @include transition-property(transform);
  @include transition-duration(.3s);
  @include transition-timing-function(ease-in-out);

  &:hover {
    @include transform(perspective( 600px ) translateZ(4px));
    @include box-shadow(#aaa 4px 4px 10px 1px);
    @include transition-property(transform);
    @include transition-duration(.25s);
  }
}


.rsvp {
  @extend %rsvpcard;
  @media (min-width: 30em) {
    width: 75%;
  }
  margin: 1em auto;
  @media (min-width: 75em) {
    margin: 1em 0;
  }

  font-family: $display-font-family;

  h3 {
    font-size: 1rem;
    margin-top: 0;
    font-weight: normal;
    text-align: center;
  }

  form {
    font-size: .75em;
  }

  label {
    display: block;
  }

  button {
    float: right;
  }

  @include clearfix;
}


/**
* RSVP Responses list
*/

.rsvp-responses {
  font-size: .75em;
  margin-top: 1em;
  width: 100%;

  th {
    width: 10%;
    text-align: left;
    &:last-child {
      width: 40%;
    }
  }
}

/**
* Recommendations List
*/

.recommendation-responses {
  margin-top: 1em;
  width: 100%;

  th {
    &.name {
      width: 20%;
    }
    &.recommendation {
      width: 40%;
    }
    &.comments {
      width: 40%;
    }
  }

}

/***
* Page layout stuff.
*/

nav {
  ul {
    @include horizontal-list;

    font-size: .75em;

    background-color: $background-color;
    opacity: .8;

    margin: 0px;
    padding: 0px;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  li {
    @extend .button;
    border: none;
    width: 25%;
    padding: ($font-size * ($line-height - 1) / 2) 2px;
  }

  // make the whole tab a link.
  a {
    display: block;
    text-align: center;
  }

  .exit-only {
    display: none;
  }
}

nav.stuck {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  ul {
    border-top: none;
  }
}

#container {
  max-width: 34em;
  padding: 0 .5em;
  margin: auto;
}

#receptions {



  @media (min-width: 30em) and (max-width: 74.9em) {
    &>section {
      clear: both;
      @include pie-clearfix;
    }
    .details {
      float: left;
    }
    a.map {
      float: right;
    }
    .rsvp-wrapper {
      clear: both;
      &:before {
        content: "\00a0";
        height: 0;
        display: block;
        overflow: hidden;
      }
    }
  }

}

@media only screen and (min-width: 75em) {
  #container {
    max-width: 60rem;
  }

  .narrative {

    p:first-child {
      margin-top: 0;
    }

    &>div {
      @include column-count(2);
    }
  }

  #receptions {

    &>section {
      width: 50%;
      float: left;
    }

    .subhead {
      display: block;
    }
  }
}


#container>header {
  margin: 0 -.5em;
}

@media only screen and (min-width: 30em) {
  // go from full bleed mode (mobile) to aligned composition (tablet & above)
  #container>header {
    margin: 0 0;
  }
}


#container>section {
}

#registry .cta {
  text-align: right;
}

#container>footer {
  border-top: 1px solid black;
  margin-top: 4rem;
  font-size: .5rem;
  text-align: right;
}

@media (min-width: 30em) {
  .copy {
    float: left;
  }
  .attribution {
    float: left;
  }
}
